html, body {
  background:url('./img/bg.jpeg') center center no-repeat;
  height: 100%;
  background-size:cover;
}
#logo img {
  margin:0 auto !important;
  padding-top:20px;
}
#intro p {
  color: white;
  text-align:center;
  font-family: 'Kalam', cursive;
  font-size:1.8em;
}